/__pycache__/
*.pyc
*test.py
*testunits.py
*example.txt
*file.txt
*h.txt
*g.txt
*capture.txt
*.csv
*.db
/thirdparty/
/build/
/dist/
*.restore
*.spec
*f.py
*test2.py
*test3.py
*test4.py
*test5.py
*~
*dumps
*f
*get-pip.py
*test.md
*_inline.txt
*test2.py.bak
*_error_boolean.txt
*_stack_q.txt
*error.txt
*test
/third/
*_time_based.txt
*sqli-dumped-data_hack-yourself-first.com_.txt
*sqli-dumped-data_testphp.vulnweb.com_.txt

